* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 10, 10);
  display: flex;
  justify-content: left;
  align-items: center;
}

svg text:nth-child(1) {
  stroke: #ff3f34;
  font-size: 180px;
  font-weight: 900;
  stroke-width: 5;
  animation: textAnimation 5s infinite alternate ;
}

svg text:nth-child(2) {
  stroke: aqua;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 5;
  animation: textAnimation 5s infinite alternate ;
}

@keyframes textAnimation {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}
